# Virtual environment
venv/
.env/
.venv/

# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp
.DS_Store